body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #e62d2d;
    color: #080101;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #000000;
    color: #fff;
    padding: 5px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #666;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #0f0303;
    color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(236, 12, 12, 0.123);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}